  
{
	"env": {
		"browser": true,
		"es2020": true,
		"node": true
	},
	"settings": {
		"react": {
			"version": "detect"
		}
	},
	"extends": [
		"eslint:recommended",
		"plugin:react/recommended",
		"plugin:@typescript-eslint/recommended"
	],
	"parser": "@typescript-eslint/parser",
	"parserOptions": {
		"ecmaFeatures": {
			"jsx": true
		},
		"ecmaVersion": 11,
		"sourceType": "module"
	},
	"plugins": [
		"react",
		"@typescript-eslint",
		"sort-imports-es6-autofix"
	],
	"rules": {
		"indent": [
			"error",
			"tab",
			{ "SwitchCase": 1 }
		],
		"linebreak-style": [
			"error",
			"unix"
		],
		"quotes": [
			"error",
			"single"
		],
		"semi": [
			"error",
			"never"
		],
		"array-bracket-spacing": [
			"error",
			"always"
		],
		"object-curly-spacing": [
			"error",
			"always"
		],
		"sort-imports-es6-autofix/sort-imports-es6": [
			2, {
				"ignoreCase": false,
				"ignoreMemberSort": false,
				"memberSyntaxSortOrder": ["none", "all", "multiple", "single"]
			}
		],
		"react/react-in-jsx-scope": "off",
		"react/prop-types": "off",
		"react/jsx-curly-spacing": [
			"error",
			{ "when": "never", "children": true }
		],
		"comma-dangle": [ "error", "always-multiline" ],
		"keyword-spacing": [
			"error",
			{ "before": true, "after": true }
		],
		"react/jsx-no-undef": "off"
	}
}
