* {
	box-sizing: border-box;
}

body {
	margin: 0;
	line-height: 1.8;
	background: #f8f9fa;
}

img, video {
	width: 100%;
	height: auto;
	display: block;
}

h1, h2, h3, h4, h5, h6, strong {
	font-weight: 600;
}

h1 {
	line-height: 1.5;
}

h2 {
	line-height: 1.6;
}

p, ul:not(li ul), ol:not(li ol) {
	margin: 20px 0;
}

blockquote {
	background: #e9ecef;
    border-left: 4px solid #868e96;
	margin: 30px 0;
	padding: 6px 10px;
    padding-left: 30px;

	& p, & ul:not(li ul), & ol:not(li ol) {
		margin: 10px 0;
	}
}

a {
	color: #6741d9;
	text-decoration: none;

	&:hover {
		background: #6741d9;
		color: #ffffff;
	}

	&:not([href^=\#]):visited {
		color: #9c36b5;

		&:hover {
			background: #9c36b5;
			color: #ffffff;
		}
	}

	&::before { content: '[' / ''; }
	&::after { content: ']' / ''; }
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border-width: 0;
}

::selection {
	background: #000000;
	color: #ffffff;
}
