* {
	box-sizing: border-box;
}

html {
	background: #f8f9fa;
}

body {
	margin: 0;
	line-height: 1.8;
}

img, video {
	width: 100%;
	height: auto;
	display: block;
}

h1, h2, h3, h4, h5, h6, strong {
	font-weight: 600;
}

h1 {
	line-height: 1.5;
}

h2 {
	line-height: 1.6;
}

p, ul:not(li ul), ol:not(li ol), pre, .code-block {
	margin: 20px 0;
}

blockquote {
	background: #e9ecef;
    border-left: 4px solid #868e96;
	margin: 30px 0;
	padding: 10px 10px;
    padding-left: 30px;

	& p, & ul:not(li ul), & ol:not(li ol) {
		margin: 14px 0;
	}
}

a {
	color: #6741d9;
	text-decoration: none;

	&:hover, &.scrollspy-active {
		background: #6741d9;
		color: #ffffff;
	}

	&:not([href^=\#]):visited {
		color: #9c36b5;

		&:hover {
			background: #9c36b5;
			color: #ffffff;
		}
	}

	&::before { content: '['; }
	&::after { content: ']'; }
}

hr {
	border: none;
	height: 1px;
	background: #ced4da;
	border: none;
	margin: 40px 0;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border-width: 0;
}

::selection {
	background: #adb5bd9b;
}

#newsletter {
	font-size: 1.1rem;

	& h2 {
		font-size: 1.24em;
	}

	& p {
		line-height: 1.8;
	}
}

#newsletter-form {
	display: flex;
	gap: 10px;

	& input {
		font-size: inherit;
		font-family: inherit;
		padding: 8px 12px;
		display: block;
	}
	
	& input[type='email'] {
		flex: 1;
		border: 1px solid #ced4da;
		border-radius: 4px;
		min-width: 0;
	}
}
