main {
	font-family: 'IBM Plex Mono', monospace, sans-serif;
	margin: 0 auto;
	padding: 20px;
	padding-top: 0;
	max-width: 800px;
}

h2 {
	margin: 0;
	margin-top: 60px;
}

.banner {
	position: absolute;
	width: min(900px, 100%);
	overflow: hidden;
	left: 0;
	right: 0;
	margin: 0 auto;
	pointer-events: none;
	margin-top: -50px;
	z-index: -1;

	& video {
		image-rendering: pixelated;
		user-select: none;
		opacity: 0.2;
		z-index: -1;
	}
}

@media (max-width: 900px) {
	.banner {
		margin-top: 0;
		top: 0;
	}
}

.quick-links ul {
	padding: 0;
	margin-top: -20px;
	margin-left: 4ch;
	list-style-type: none;

	& li { padding: 2px 0; }
	& a { display: inline-block; }
}

.grid-twos {
	display: grid;
	gap: 14px;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

#ipa {
	cursor: pointer;
	color: #d9480f;
}
