main {
	font-family: 'IBM Plex Serif', serif;
	font-size: 1.1rem;
	margin: 0 auto;
	padding: 80px 20px;
	max-width: 800px;
}

h1 {
	font-family: 'Red Hat Display', sans-serif;
	font-weight: 900;
	font-size: 2.2rem;
	margin: 0;
	margin-bottom: 12px;
	text-align: center;
}

.meta {
	font-weight: normal;
	text-align: center;
	margin-bottom: 50px;
}

h2 {
	margin: 0;
	margin-top: 40px;
}

p:not(.meta p) {
	margin: 20px 0;
}

.meta p {
	margin: 10px 0;
}

#ipa {
	cursor: pointer;
	color: #d9480f;
}
