---
import SEO from '../components/SEO.astro'
---

<html lang='en'>
<head>
	<meta charset='utf-8' />
	<meta name='viewport' content='width=device-width, initial-scale=1' />

	<link rel='preconnect' href='https://fonts.googleapis.com' />
	<link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
	<link href='https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,600;1,400;1,600&display=swap' rel='stylesheet' />

	<SEO title='Timeline' description='We live in a universe in which referring to me may be an eventuality for some. If this is a necessity for you, here are some guidelines to follow.' />
</head>
<body>
	<div id='timeline' />
	<script src='../timeline/timeline.ts' />
</body>
</html>
