---
const { yes, yesAlt, no, noAlt, eagerLoad } = Astro.props
---

<section>
	<article class='yes'>
		<h3>
			<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12 2.25C6.62391 2.25 2.25 6.62391 2.25 12C2.25 17.3761 6.62391 21.75 12 21.75C17.3761 21.75 21.75 17.3761 21.75 12C21.75 6.62391 17.3761 2.25 12 2.25ZM10.2188 16.8928L6.44062 12.6942L7.55578 11.6906L10.1808 14.6072L16.4062 7.19344L17.5566 8.15625L10.2188 16.8928Z" fill="#2F9E44"/></svg>
			Do!
		</h3>
		<img src={`/public/brand-guidelines/yes-${yes}.png`} alt={yesAlt} width='744' height='206' loading={eagerLoad ? 'eager' : 'lazy'} />
	</article>
	<article class='no'>
		<h3>
			<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12 2.25C6.62391 2.25 2.25 6.62391 2.25 12C2.25 17.3761 6.62391 21.75 12 21.75C17.3761 21.75 21.75 17.3761 21.75 12C21.75 6.62391 17.3761 2.25 12 2.25ZM16.0608 15L15 16.0608L12 13.0608L9 16.0608L7.93922 15L10.9392 12L7.93922 9L9 7.93922L12 10.9392L15 7.93922L16.0608 9L13.0608 12L16.0608 15Z" fill="#E03131"/></svg>
			Don't.
		</h3>
		<img src={`/public/brand-guidelines/no-${no}.png`} alt={noAlt} width='744' height='206' loading={eagerLoad ? 'eager' : 'lazy'} />
	</article>
</section>

<style>
section {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	gap: 16px;
	margin-bottom: 30px;
}

h3 {
	margin: 0;
	font-size: 1em;
	padding-bottom: 10px;
	display: flex;
	flex-direction: row;
	align-items: center;
	line-height: 1;
	gap: 6px;
}

h3 svg {
	display: inline-block;
}

.yes h3 { color: #2b8a3e; }
.no h3 { color: #c92a2a; }
</style>
