---
import '../styles/global.css'
import '../styles/homepage.css'

import BackgroundEffect from '../components/BackgroundEffect.astro'
import SEO from '../components/SEO.astro'
---

<html lang='en'>
<head>
	<meta charset='utf-8' />
	<meta name='viewport' content='width=device-width, initial-scale=1' />

	<link rel='preconnect' href='https://fonts.googleapis.com' />
	<link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
	<link href='https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;600&display=swap' rel='stylesheet' />

	<SEO description='Hello, I&rsquo;m Kognise! I do lots of things, but I&rsquo;m usually working with computers, flying, or creating music. I&rsquo;m currently working on way too many projects, including Doggo.Ninja and Water.css.' />
</head>
<body>
	<main>
		<div class='banner' aria-hidden='true'>
			<video width='433' height='173' autoplay loop muted playsinline>
				<source src='/banner.webm' type='video/webm' />
				<source src='/banner.mp4' type='video/mp4' />
			</video>
		</div>

		<slot />
	</main>

	<script lang='javascript'>
		const rainbowToggle = document.getElementById('rainbow-toggle')
		window.rainbowMode = rainbowToggle.checked
		rainbowToggle.addEventListener('input', () => window.rainbowMode = rainbowToggle.checked)
		
		const kognise = new Audio('/kognise.mp3')
		document.getElementById('ipa').addEventListener('click', () => {
			kognise.currentTime = 0
			kognise.play()
		})
	</script>

	<BackgroundEffect />
</body>
</html>
