---
import SEO from '../components/SEO.astro'
const { content } = Astro.props
---

<html lang='en'>
<head>
	<meta charset='utf-8' />
	<meta name='viewport' content='width=device-width, initial-scale=1' />

	<link rel='preconnect' href='https://fonts.googleapis.com' />
	<link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
	<link href='https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,400;0,600;1,400;1,600&family=Red+Hat+Display:wght@900&display=swap' rel='stylesheet' />

	<link rel='stylesheet' href={Astro.resolve('../styles/global.css')} />
	<link rel='stylesheet' href={Astro.resolve('../styles/layout-writing.css')} />

	<SEO title={content.title} description={content.abstract} />
</head>
<body>
	<main>
		{content['familiarity-hardcode']
			? <h1>Familiarity in Electroacoustic Music:<br/>A Comparative Analysis of Two Approaches</h1>
			: <h1>{content.title}</h1>}
			
		<div class='meta'>
			By Kognise
			&middot;
			{content.date}
			&middot;
			<a href='/'>Go home</a>
		</div>

		<slot />
	</main>
</body>
</html>
