@font-face {
	font-family: 'Open Sauce One';
	font-style: normal;
	font-weight: 400;
	src: url(/open-sauce/OpenSauceOne-Regular.ttf) format('truetype');
}

@font-face {
	font-family: 'Open Sauce One';
	font-style: normal;
	font-weight: 600;
	src: url(/open-sauce/OpenSauceOne-SemiBold.ttf) format('truetype');
}
